@charset "UTF-8";
@media all and (min-device-width: 1048px) {
  /*partie accueil*/
  #contenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #logo {
    width: 35%;
  }
  #logo3 {
    width: 50%;
  }
  #intro {
    padding: 2% 3%;
  }
  #restaurant1, #restaurant2, #restaurant3, #restaurant4 {
    width: 45%;
  }
  #restaurant1__img, #restaurant2__img, #restaurant3__img, #restaurant4__img {
    height: 325px;
  }
  .coeur {
    margin-top: 0;
  }
  .coeur2 {
    font-size: 40px;
  }
  #new1, #new2 {
    position: absolute;
    margin-top: -315px;
    margin-left: 33%;
    padding: 1% 0.5%;
    font-size: 24px;
  }
  .m_index {
    font-size: 30px;
    margin: 0 0 4% 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .text2 {
    text-align: center;
  }
  .chiffre {
    padding: 2% 6%;
    position: initial;
    margin: 0;
  }
  #block2__placement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10%;
    width: 15%;
    height: 150px;
  }
  .size1, .option {
    font-size: 30px;
  }
  .size2, #lieu, li, #omf, .chiffre2, .mise {
    font-size: 26px;
  }
  .size3, .police, #button, .coeur {
    font-size: 40px;
  }
  #block1 {
    padding: 8% 7%;
  }
  /*Partie menu*/
  #image1, #image2, #image3, #image4 {
    padding-top: 45%;
  }
  #image2 {
    background-position-y: -25%;
  }
  #entrées, #plats, #desserts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  #entrées__1, #plats__1, #desserts__1 {
    margin-bottom: 3%;
  }
  .ligne {
    margin-bottom: 1%;
    font-size: 28px;
    width: 58px;
  }
  #commande {
    font-size: 40px;
    padding: 2% 0;
  }
  #c {
    padding: 5% 0 10% 0;
  }
  .V {
    font-size: 32px;
  }
  /*animation*/
  @-webkit-keyframes ajout {
    from {
      width: 0%;
    }
    100% {
      width: 12%;
    }
  }
  @keyframes ajout {
    from {
      width: 0%;
    }
    100% {
      width: 12%;
    }
  }
}
/*# sourceMappingURL=Styledeskop.css.map */